* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 0.00000001px dotted purple; */
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2e2f37;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #f8f6f0;
}

#questioner {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 50px;
}

#score {
  align-self: flex-start;
}

.question {
  font-size: 25px;
  font-family: "open sans";
}

.button {
  margin: 0px 3px;
  padding: 10px 20px;

  border: none;
  border-radius: 10px;
  background-color: #f4bb07;
  text-shadow: 0px 0px 1px lightslategray;

  color: #f8f6f0;
  font-family: poppins;
  font-weight: 600;
}
